diy-pd-pack/main/default/flows/Seasonal_Product_Recommender.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Product_JSON_to_WinterProduct_Type_Action_1</name>
        <label>Convert Product JSON to WinterProduct Type Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PromptJsonToModelAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonText</name>
            <value>
                <elementReference>seasonal_product.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PromptJsonToModelAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>apexDefined.message</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>apexDefined.productsJson</assignToReference>
            <name>productsJson</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Season_Name</name>
        <label>Season Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Season_Predictor</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>SeasonValue</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Date</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:City</name>
            <value>
                <elementReference>BillingCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Country</name>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Season_Predictor</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>seasonal_product</name>
        <label>seasonal product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Fetch_Seasonal_Products</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>output</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Season</name>
            <value>
                <elementReference>Season</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Fetch_Seasonal_Products</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>validate_ContactId</name>
        <label>validate ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ValidateContactContext</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_ContactId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateContactContext</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>contactId</assignToReference>
            <name>contactId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>For_Guest</name>
        <label>For Guest</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BillingCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingCity</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Indianapolis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Season_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>For_LoggedIn</name>
        <label>For LoggedIn</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BillingCountry</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAccountIdFromContact.MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingCity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAccountIdFromContact.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Season_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>output</name>
        <label>output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>listOut</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>seasonal_product.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_Product_JSON_to_WinterProduct_Type_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SeasonValue</name>
        <label>SeasonValue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Season</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Season_Name.promptResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>seasonal_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ContactId</name>
        <label>Check ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Guest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountIdFromContact</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Seasonal Product Recommender {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Seasonal Product Recommender</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Billing</name>
        <label>Get Account Billing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_LoggedIn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccountIdFromContact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountIdFromContact</name>
        <label>GetAccountIdFromContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Billing</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>validate_ContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>apexDefined</name>
        <apexClass>PromptOutputADT</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BillingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Season</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
